body{
  font-family: 'Lato', sans-serif;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 2fr 7fr;
  width: 600px;
  margin: 0 auto;
  grid-row-gap: 8px;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}

nav {
  background-color: #ADD8E6;
  padding: 10px;
}

a{
  text-decoration: none;
}

button {
  padding: 8px;
  border: 0;
  background-color: rgba(93, 153, 243, 0.5);
  color: black;
  margin: 5px 5px 5px 5px;
}

button:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.navItem {
  padding: 8px;
  color: black;
}

.navItem:hover {
  font-weight: bolder;
}

@media only screen and (max-width: 415px){
  h1{
    font-size: 25px;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 280px;
    margin: 0 auto;
    grid-row-gap: 8px;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }
} 