body{
  font-family: 'Lato', sans-serif;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 3fr 6fr;
  min-width: 350px;
  max-width: 550px;
  margin: 0 auto;
  grid-row-gap: 8px;
  font-size: 18px;
  padding: 10px 10px 10px 0px;
  font-weight: bold;
  column-gap: 6px;
  box-sizing: border-box;
}
header{
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}

input{
  border-style: solid;
  border-width: 2px;
  height: 30px;
}

nav {
  background-color: #f09d47;
  padding: 10px;
}

a{
  text-decoration: none;
}

button {
  padding: 8px;
  border: 0;
  background-color: #e3d8e3;
  color: black;
  margin: 5px 5px 5px 5px;
}

button:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  background-color: #f09d47;
  margin: 0px;
}

.form-container{
 width: 100%
}

.home{
  background-color: #f09d47;
}

.navItem {
  padding: 8px;
  color: black;
}

.navItem:hover {
  font-weight: bolder;
}

.record-library{
  margin-top: 20px;
}

br{
  margin: 0px;
}

#cover-photo{
  width: 100%;
}
.home-bottom{
  padding: 100px;
}

#title{
  margin: 0px;
  color: black;
}

.login{
  width: 200px;
  height: 120px;
}

.register{
  width: 200px;
  height: 150px;
}

@media only screen and (max-width: 415px){
  h1{
    font-size: 25px;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 280px;
    margin: 0 auto;
    grid-row-gap: 8px;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }
} 